@import "tailwindcss";
@import "tw-animate-css";

@theme {

}

@layer base {
    body {
        background-image: url("/assets/bgimage.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

    @apply bg-background text-foreground;

    }
}