# docker-compose.yml
version: '3.8'
services:
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333" # API port
      - "6334:6334" # gRPC port
    volumes:
      - ./qdrant_storage:/qdrant/storage

  redis:
    image: redis/redis-stack-server:latest
    ports:
      - "6379:6379" # Redis port